<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>관리 페이지</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<div class="header" id="header">
  <a href="/admin" class="admin-link">Persona Chat</a>
</div>

<h1>관리자 페이지</h1>

<div class="container">
  <a href="/admin/userPage" class="card">
    <div class="icon">👤</div>
    <h3>유저 관리</h3>
    <p>유저 정보 관리</p>
  </a>
  <a href="/admin/chatPage" class="card">
    <div class="icon">💬</div>
    <h3>채팅 로그 관리</h3>
    <p>채팅 내용 모니터링</p>
  </a>
  <a href="/admin/errorPage" class="card">
    <div class="icon">❗</div>
    <h3>에러 로그 관리</h3>
    <p>서버 에러 로그 확인 및 추적</p>
  </a>
</div>
</body>
</html>
